<?xml version="1.0"?>
<config>
    <modules>
        <Dudus_Booking>
            <version>0.0.0.2</version>
        </Dudus_Booking>
    </modules>
    <global>
        <blocks>
            <booking>
                <class>Dudus_Booking_Block</class>
            </booking>
        </blocks>
        <models>
            <booking>
                <class>Dudus_Booking_Model</class>
                <resourceModel>booking_resource</resourceModel>
            </booking>
            <booking_resource>
                <class>Dudus_Booking_Model_Resource</class>
                <entities>
                    <configuration>
                        <table>booking_configuration_entity</table>
                    </configuration>
                    <configuration_dailySchedule>
                        <table>booking_configuration_daily_schedule</table>
                    </configuration_dailySchedule>
                </entities>
            </booking_resource>
        </models>
        <resources>
            <booking_setup>
                <setup>
                    <module>Dudus_Booking</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </booking_setup>
            <booking_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </booking_write>
            <booking_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </booking_read>
        </resources>  
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Dudus_Booking>Dudus_Booking</Dudus_Booking>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <booking>
                    <file>booking.xml</file>
                </booking>
            </updates>
        </layout>
        <events>
            <catalog_product_save_after>
                <observers>
                    <Dudus_save_product_data>
                        <class>booking/observer</class>
                        <method>saveProductTabData</method>
                    </Dudus_save_product_data>
                </observers>
            </catalog_product_save_after>
        </events>
    </adminhtml>
</config>